@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ms+Madi&family=Poppins:wght@400;600;900&display=swap");

//fonts
$font-family-primary: "Poppins";
$font-family-secondary: "Bodoni Moda";

//font-size
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.5rem;

//font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 900;

//padding
$padding-none: 0;
$padding-small: 0.5rem;
$padding-medium: 1rem;
$padding-large: 1.5rem;

//margin
$margin-none: 0;
$margin-small: 0.5rem;
$margin-medium: 1rem;
$margin-large: 1.5rem;

//border-radius
$border-radius-small: 0.5rem;
$border-radius-medium: 1rem;
$border-radius-large: 2rem;
//colors
$color-primary: #f7f7f7;
$color-secondary: #7e7e7e;
$color-tertiary: #ccc;
$color-quaternary: #9a9a9a;
$color-quinary: #007bff;
$color-senary: #0056b3;
$color-septenary: #007bff;
$color-octonary: #0056b3;
$black: #000000;
$white: #ffffff;
$color-decanary: #007bff;

//breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
